[submodule "progtech_lecture2"]
	path = progtech_lecture2
	url = https://github.com/gygyuszi0/progtech_lecture2.git
[submodule "wumplus"]
	path = wumplus
	url = https://github.com/gygyuszi0/wumplus.git
